 @font-face {
  font-family: 'Plain-Thin';
  src: 
    local('Plain-Thin'),
    local('Plain-Thin'),
    url('fonts/Plain-Thin.otf') 
    format('opentype');
  }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
    font-family: 'Plain-Thin', 'sans-serif';
  font-kerning:normal;
  font-weight: lighter;
  background-color: black;  
 overflow:hidden;
}


#gmap {
  height: 100%;
  mix-blend-mode: screen;
  z-index: 4;
  pointer-events: none;
  overflow:hidden;
  opacity: 0.7;
  /*display: none;*/
  }

#modal {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  text-transform: none;
  font-size: 3.5vmax;
  line-height: 5vmax;
  /*font-weight: bold;*/
  z-index: 2;
    overflow:hidden; 
      background-color: black;
  display: none;
}

#wrap{
  height: 100%;
  overflow-y:auto; 
  /*overflow-x:hidden; */
  background-color: white;
  color:black;
  margin:3vmax;
}

#info {
  margin:3vmax;
}
.window{
  background-color: black;

}

.w00{
  float:left;  
  width:9vmax;
  height:4vmax;
  /*margin-left:3vmax;*/
}
.w01{
  float:right;
  width:24vmax;
  height:9vmax;
}

.w02{
  float:right;
   width:4vmax;
  height:24vmax;
   margin-right:12vmax;
}

.w03{
  float:left;
  height:19vmax;
  width:9vmax;
  right:9vmax;
  margin-right:20px;
}
.w04{
  float:right;
 height:9vmax;
  width:20vmax;
  margin-right:9vmax;
}

.w05{
  float:right;
  height:24vmax;
  width:20vmax;
}
.w06{
  float:left;
  height:9vmax;
  width:18vmax;
  margin-left:9vmax;

}

.w07{
  float:left;
 height:4vmax;
  width:9vmax;
}

.btn{
    float:right;
    padding: 20px;
    font-size: 4vmax;
    font-weight: lighter; 
    color:white;
}

#graphic{
  width:100%;
  height:100%;
  position:absolute;
  z-index: 0;
  overflow:hidden;
  color: black;
  font-size: 5vmax;
  text-transform: uppercase;
  line-height: 5vmax;
  overflow-y:auto; 
  overflow-x:hidden; 
  background-color: black;
  display: none;
}

#inset{
  overflow-y:auto; 
  overflow-x:hidden; 
  background-color: white;
  color:black;
  margin:3vmax;

}
#scroll{
  padding:3vmax;
}
#scroll p{
  margin:0px;
}

#logos{
    width:100%;
    margin-left:3vmax;
    margin-bottom:3vmax;
    /*padding: 3vmax;*/
    height:4vmax;
}

.logo{
  height:4vmax;
  margin-left: 2vmax;
  float:left;
}

#acknowledgement{
  margin:0;
  padding:0;
  height:4vmax;
  font-size: 1vmax;
  text-transform: uppercase;
  line-height: 1.2vmax;
  width:20vmax;
  float:left;
  padding-right:1vmax;
}

a{
  text-decoration: none;
  color:black;
}
a:hover{
  font-style:italic;
}

@media all and (max-width: 70em) {
  .w00{
  float:left;  
  width:9vmax;
  height:4vmax;
  /*visibility: "none"*/
  display: none;
  }
  .w02{
  float:right;
   width:24vmax;
  height:4vmax;
   margin-bottom:1vmax;
  }
  .w04{
  float:left;
  height:9vmax;
  width:30vmax;
  margin-left:0vmax;
  margin-bottom:1vmax;
}
.w05{
  float:right;
  height:19vmax;
  width:8vmax;
  margin-bottom:1vmax;
}
  .w06{
  float:left;
  height:9vmax;
  width:30vmax;
  margin-left:0vmax;
  margin-bottom:1vmax;
}
#acknowledgement{
  width:35vmax;
  height:9vmax;
  margin-bottom:4vmax;
  font-size: 2vmax;
  line-height: 2vmax;

}
  .logo{
    padding:0;
    margin-left:0;    
    margin-bottom:4vmax;
    margin-right:2vmax;
  }

}

